/* Original design and assets by Aliensqueakytoy https://www.youtube.com/watch?v=wzqJZa5divY */
/* Inspiration from jayraydee's GC Gamepad display https://jayraydee.me/Assets/Freeport/MinimalistGC/GCFONT.css */

@import url("components/common.css");
@import url("components/triggers-and-sticks.css");
@import url("components/buttons.css");

@layer theme {
    :root {
        --background-width: 788px;
        --background-height: 307px;
        --start-button-left: 451px;
        --start-button-top: 87px;
    }
}

.controller.custom {
    background: url("assets/backgrounds/background-transparent-no-dpad.png") no-repeat;
    width: var(--background-width);
    height: var(--background-height);
}